nav {
    position: fixed;
    z-index: 9999;
}

h1 {
    font-size: 3.4rem;
}

body {
    background-image: url('../assets/img/lukas-blazek-1600.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.main {
    display: block;
    box-sizing: border-box;
    padding-top: 64px;
    height: 100vh;
}

#login-form {
    padding: 30px;
}

.content-container {
    border-radius: 8px;
}

.submit-btn {
    display: block;
    margin: 0 auto;
}

#recipe-search {
    /*box-sizing: border-box;*/
    padding: 14px;
}




/* Utility classes*/
.lrg-paragraph-txt {
    font-size: 1.2rem;
}

.sml-paragraph-txt {
    font-size: 0.9rem;
}

.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}

.p-10 {
    padding: 10px;
}

/* Media Queries */
@media screen and (min-width: 993px) {
    
    nav .brand-logo {
        margin-left: 60px;
    }
}

