{% extends 'base.html' %}

{% block content %}

    <header class="header-text center-align teal-text text-darken-4">
        <h1>Recipe List</h1>
        <p class="lrg-paragraph-txt"><strong>Use the form field below to search the list and the sort buttons to sort the list</strong></p>
    </header>
    
    <div class="container col s12 m10 offset-m1 grey lighten-5 content-container" id="recipe-search">
        <div class="row">
            <div class="col s7 m6">
                <div class="input-field col s12">
                    <i class="material-icons prefix teal-text text-darken-1">search</i>
                    <input id="recipe_search" type="text" autocomplete="false">
                    <label for="recipe_search">Search</label>
                </div>
            </div>
            <div class="col s5 m6">
                <button class="btn waves-effect waves-light submit-btn mt-20" type="submit" name="action">Search</button>
            </div>
        </div>
        <div class="row">
            <div class="col s10 m8 l6 offset-s1">
                <span class="teal-text text-darken-4">Sort By: </span>
                <a class="waves-effect waves-light btn-small">Votes</a>
                <a class="waves-effect waves-light btn-small">A-Z</a>
                <a class="waves-effect waves-light btn-small">Z-A</a>
            </div>
            <div class="col s10 m4 l6 offset-s1 add-recipe-btn">
                <a href="/add_recipe" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add Recipe</a>
            </div>
        </div>
    </div>
    
    <div class="container col s12 m10 offset-m1 grey-text text-darken-2 content-container mt-20">
        <div class="row">
            
            {% for recipe in recipes %}
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ recipe.image_url }}">
                    </div>
                    <div class="card-content">
                        <h6>{{ recipe.recipe_name}}</h6>
                        <p class="grey-text">{{ recipe.cuisine }}</p>
                        <p class="p-10"><i class="small material-icons teal-text text-lighten-2">thumb_up</i><label class="teal-text text-lighten-2"><strong>{{ recipe.upvotes }}</strong></label></p>
                        <p class="grey-text author-text">By: <span class="grey-text text-darken-3">{{ recipe.author }}</span></p>
                    </div>
                    <div class="card-action">
                        <a href="/recipe/{{ recipe._id }}" class="waves-effect waves-light btn-small">View</a>
                        <a href="/edit_recipe/{{ recipe._id }}" class="teal-text text-darken-1 pl-10">Edit</a>
                        <a href="/delete_recipe/{{ recipe._id }}" class="red-text text-darken-2">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
    
{% endblock %}